<div class="container">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('search_article.basic') %> <small class="m-l-sm">This is basic search</small></h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#">Config option 1</a>
          </li>
          <li><a href="#">Config option 2</a>
          </li>
        </ul>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content" style="display: block;">
      <div class="well">
        <form role="form " class="form-inline">
          <div class="input-group col-md-3">
            <input type="text" placeholder="Search" class="input-sm form-control">
            <span class="input-group-btn">
        <button type="submit" class="btn btn-sm btn-primary"> Search</button>
        </span>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="product_name">Volume</label>
              <input type="text" id="article_volume" name="article_volume" value="" placeholder="Input Volume" class="form-control">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label" for="product_name">Issue</label>
              <input type="text" id="article_issue" name="article_isse" value="" placeholder="Input Issue" class="form-control">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label" for="product_name">Page</label>
              <input type="text" id="article_page" name="article_page" value="" placeholder="Input Page Number" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ibox-footer">
      <i>Go to Advanced Search</i>
    </div>
  </div>




</div>