<div class="container">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5><%= t('search_article.basic') %> <small class="m-l-sm">This is basic search</small></h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#">Config option 1</a>
          </li>
          <li><a href="#">Config option 2</a>
          </li>
        </ul>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <%= form_for :basic_search, url: '/basic_search', html: {class:'form-horizontal'} do %>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" id="article_volume" name="article_volume" value="" placeholder="Volume" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input type="text" id="article_issue" name="article_issue" value="" placeholder="Issue" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input type="text" id="article_page" name="from_year" value="" placeholder="From year" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input type="text" id="article_page" name="to_year" value="" placeholder="To year" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input type="text" name="search_string" placeholder="Search" class="form-control">
          </div>
        </div>

        <div class="input-group col-md-2">
          <select class="form-control m-b" name="search_field">
            <option value="all">All fields</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="abstract">Abstract</option>
            <option value="keyword">Keywords</option>
          </select>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"> Search</button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>