<h1>Article View</h1>

<h3>Hi moderator, please review the following articles</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
       <th>Artile type</th>
       <th>Last modified</th>
    </tr>
  </thead>

  <tbody>
    <% @ArticleList.each do |article| %>
      <tr>
        <td><%= article.title %></td>
         <td><%= article.type_id %></td>
         <td><%= article.updated_at %></td>
         <td><button >Detail</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
